@import './normalize';
@import './global';

.container {
    max-width: 1300px;
    margin: 0 auto;

    @include media(1340) {
        max-width: calc(100% - 40px);
    }
}

body {
    font-family: $font-inter;
    font-weight: 400;
    font-style: normal;
    background: #F4F4F4;
    color: #141414;
}

.select {
    position: relative;

    &_list {
        position: absolute;
        background: white;
        width: 150px;
        display: none;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        border-radius: 12px;
        padding: 5px 0;

        a, button {
            width: 100%;
            padding: 5px 14px;
            font-size: 14px;
            text-align: left;
        }
    }

    &.active .select_list {
        display: block !important;
    }
}

// Header
.header {
    background: white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__select {
        &_btn {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px 14px;
            font-size: 14px;
        }

        .select_list {
            left: 0;
            transform: translateX(0);
        }
    }

    .alert {
        display: flex;
        align-items: center;
        gap: 4px;
        color: white;
        background: #F54141;
        border-radius: 4px;
        padding: 5px 6px;
        margin: 0 8px 0 16px;

        h3 {
            font-size: 28px;
            font-weight: bold;
        }

        h4 {
            font-size: 10px;
        }

        p {
            font-size: 12px;
            font-weight: 600;
        }
    }

    &__account {
        &_btn {
            border-radius: 12px;
            padding: 9.5px 12px 9.5px 14px;
            display: flex;
            align-items: center;
            gap: 12px;
            background: #F6F6F6;
        }

        .select_list {
            right: 0;
            left: auto;
            transform: translateX(0);
        }
    }
}
// Header end

// Breadcrumb
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 32px 0;

    &__link {
        padding: 16px 28px;
        font-size: 16px;
        border-radius: 8px;
        color: #9751AC;
        border: 1px solid #9751AC;

        &.active {
            color: white;
            background: #9751AC;
        }
    }
}
// Breadcrumb end

// Summary
.summary {
    background: white;
    border-radius: 16px;
    padding: 24px;

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        align-items: stretch;
        gap: 7px;

        &_item {
            width: 100%;
            min-height: 160px;
            background: #F4F4F4;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 22px 16px;
            transition: .2s ease all;
            border: 1px solid transparent;

            &.bg-lightblue {
                background: #ECF4FD;

                h5 {
                    color: #B6B6B6;
                }
            }
            
            p {
                font-size: 16px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            &__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                h5 {
                    font-size: 14px;
                    font-weight: 400;
                }

                a {
                    font-size: 14px;
                    color: #854896;
                    text-decoration: underline;
                    display: none;
                }
            }

            &:hover {
                border-color: #6CB6B0;

                a {
                    display: block;
                }
            }
        }
    }
}
// Summary end

// Statistic
.statistic {
    display: flex;
    align-items: flex-start;
    gap: 19px;
    background: white;
    border-radius: 16px;
    margin: 24px 0 40px;
    padding: 32px 20px 32px 24px;

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: 20px;

        label {
            padding: 2.5px 0 2.5px 2.5px;
            display: flex;
            align-items: center;
            gap: 10.5px;
            font-size: 16px;
            cursor: pointer;
            user-select: none;
        }

        input {
            width: 19px;
            height: 19px;
        }
    }

    &__left {
        width: 100%;
    }

    &__card {
        display: flex;
        align-items: stretch;
        gap: 7px;
        margin-bottom: 32px;

        &_item {
            width: 100%;
            min-height: 160px;
            background: #ECF4FD;
            border-radius: 12px;
            padding: 22px 16px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid transparent;

            &.bg-yellow {
                border-color: #B49A48;
                background: #FDF4DC;
            }

            h4 {
                min-height: 38px;
                font-size: 16px;
                font-weight: 500;
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                
                .text-red {
                    font-weight: 500;
                    color: #F54141;
                }

                .text-green {
                    font-weight: 500;
                    color: #1EAC70;
                }
            }
        }
    }

    &__form {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &_item {
            label {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                margin-bottom: 17px;
            }

            .form_inp {
                border: 1px solid #EDEDED;
                width: 280px;
                position: relative;
                z-index: 1;
                border-radius: 8px;
                background: white;

                input {
                    width: 100%;
                    height: 44px;
                    padding: 0 32px 0 10px;
                    font-size: 16px;

                    &::placeholder {
                        color: #B7B7B7;
                    }
                }

                img {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        }
    }

    &__right {
        width: 465px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 18px;
        padding-top: 16px;

        img {
            flex-shrink: 0;
        }

        &_card {
            padding: 33px 18px;
            background: #FEF7E1;
            border-radius: 12px;

            h3 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 33px;
            }

            p {
                font-size: 16px;
            }

            ul {
                margin: 6px 0 25px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                list-style-type: disc;
                padding-left: 18px;
                font-size: 16px;

                li {
                    &::marker {
                        font-size: 12px;
                    }
                }
            }

            h4 {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
// Statistic end